<!doctype html>
<html>

  <head>
    <title>Game of LOVE</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1 id="title">Game of Love <br></h1>
      <h4>Are you a young prince looking to unite your family with another power? <br>Looking to find your way into some young darlin's breaches? <br>  </h4>

      <div id= "will_bold">
      <h4>
        Then this is the source for you!!
       </h4>
     </div>

    <div id="first_h3">
      <h2> <br>
        A LOVIN' TIP FOR YOU!  
      </h2>
    </div>

    <h3>Catch 'em ladies (whores included)</h3>

    <div id= "pick_up_line" >
        <h1>
          <%=@my_lovin.find_and_puts_line%>
        </h1>
    </div>

    <div class= "footer"> "Created by Mina Khan :)"
    </div>


  </body>

</html>
