<!doctype html>
<html>

  <head>
    <title>Game of LOVE</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>

    <h1>Game of Love</h1>
    <h4>Are you a young prince looking to unite your family with another of power? <br> Then this is for you!! </h4>

    <h3>YOUR LOVIN' TIP OF THE DAY. <br> Catch 'em ladies (whores included)</h3>

     <h1><%=@my_lovin.find_and_puts_line%></h1>

    


  </body>

</html>
