<!doctype html>
<html>

  <head>
    <title>Game of LOVE</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <h1>Game of Love <br></h1>
      <h4>Are you a young prince looking to unite your family with another of power? <br> Then this is for you!! </h4>

    <div id="first_h3">
      <h3> <br><br>
        YOUR LOVIN' TIP OF THE DAY.
      </h3>
    </div>

    <h3>Catch 'em ladies (whores included)</h3>

    <div id= "pick_up_line" >
        <h1>
          <%=@my_lovin.find_and_puts_line%>
        </h1>
    </div>

    


  </body>

</html>
