@import url(http://fonts.googleapis.com/css?family=Life+Savers:400,700); 
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);
@import url(http://fonts.googleapis.com/css?family=Philosopher);

h1 {
  font-family: 'Philosopher', sans-serif
  font-weight: 700;
  font-size: 275%;
}
#header {
  color: #F23FBC;
  font-family: 'Live Savers', cursive;
}

#pick_up_line {
  display: inline-block;
  text-align: center;
  background-color: black;
  width:70%;
  border-radius: 10px;
  color: black;
  opacity: 0.6;
  padding-left: 35px;
  padding-right:35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#pick_up_line:hover {
  color: #F23FBC;
  text-opacity:1;
  font-size:90%;
}



h4 {
  
  font-size: 110%;
}

#first_h3 {
  text-decoration: underline;
  font-size: 120%;
  color:#D676BE;
  margin-top: -40px;
  font-family: 'Philosopher', sans-serif;
}

#will_bold {
  font-weight: 700;
}

body{
  background-image: url(../images/game_of_thrones_full_map.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  
}


/*

click to refresh?--> any way to make not a noticeable refresh